In [1]:
import pandas as pd

In [2]:
sub = pd.DataFrame()

In [3]:
sub1 = pd.read_csv('sub-16133.csv')
sub2 = pd.read_csv('sub-16159.csv')

In [4]:
sub1.head()

   test_id  is_duplicate
0        0      0.000358
1        1      0.130990
2        2      0.292888
3        3      0.000113
4        4      0.042746

In [5]:
sub2.head()

   test_id  is_duplicate
0        0      0.000666
1        1      0.142221
2        2      0.307727
3        3      0.000182
4        4      0.061071

In [6]:
sub['test_id'] = sub1['test_id']
sub['is_duplicate'] = sub1['is_duplicate'] * 0.8 + sub2['is_duplicate'] * 0.2
print('Saving :: submission file...')
sub.to_csv('sub_merge82.csv', index=False)
print('\nSubmission result done.')

Saving :: submission file...

Submission result done.

In [9]:
sub['test_id'] = sub1['test_id']
sub['is_duplicate'] = sub1['is_duplicate'] * 0.7 + sub2['is_duplicate'] * 0.3
print('Saving :: submission file...')
sub.to_csv('sub_merge73.csv', index=False)
print('\nSubmission result done.')

Saving :: submission file...

Submission result done.

In [10]:
sub['test_id'] = sub1['test_id']
sub['is_duplicate'] = sub1['is_duplicate'] * 0.6 + sub2['is_duplicate'] * 0.4
print('Saving :: submission file...')
sub.to_csv('sub_merge64.csv', index=False)
print('\nSubmission result done.')

Saving :: submission file...

Submission result done.